<%- include('header.ejs', { title: 'Dashboard' }) %>
  <h1>Dashboard</h1>
  <a href="/logout" onclick="return confirm('Are you sure you want to logout?');">Logout</a>



  


  <h2>Create a new Ausbildungplan</h2>

  <% if (permissions.includes('View')) { %>
    <!-- Inhalt der Dashboard-Seite -->Vieeeeeeeeeeeeeew
<% } %>

<% if (permissions.includes('Edit')) { %>
    <!-- Bearbeitungsoptionen für das Dashboard --> EDITTTTTTTTTTTT
<% } %>


<form action="/ausbildungPlan" method="post">
    <label for="title">Azubi:</label>
    <select id="title" name="title" required>
        <% azubis.forEach(azubis => { %>
            <option value="<%= azubis.id %>"><%= azubis.username %></option>
          <% }) %>
    </select>
    <br>
    <label for="ausbildungBeginn">Ausbildung Beginn:</label>
    <input type="date" id="ausbildungBeginn" name="ausbildungBeginn" required>
    <br>
    <label for="description">Ausbildungsberuf:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <input type="submit" value="Create">
</form>



  <h2>Your Ausbildungpläne</h2>
  <table>
    <thead>
      <tr>
        <th>Azubi</th>
        <th>Ausbildungsbeginn</th>
        <th>Ausbildungsberuf</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% ausbildungPlan.forEach(plan => { %>
        <tr>
          <td><%= plan.title %></td>
          <td><%= plan.date %></td>
          <td><%= plan.description %></td>
          <td>
            <a href="/ausbildungPlan/<%= plan.id %>/edit">Edit</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include('footer.ejs') %>