<!DOCTYPE html>
<html>
<head>
    <title>Rollen-Berechtigungsverwaltung</title>
    <link rel="stylesheet" href="/style.css"> <!-- Stellen Sie sicher, dass Sie eine CSS-Datei haben, die so benannt ist oder ändern Sie den Pfad entsprechend. -->
 
    <%- include('menu.ejs') %>
</head>
<body>
    <h1>Rollen-Berechtigungsverwaltung</h1>

    <form action="/updateRolePermissions" method="post">
        <label for="role">Rolle auswählen:</label>
        <select name="roleId" id="role">
            <% roles.forEach(role => { %>
                <option value="<%= role.id %>"><%= role.name %></option>
            <% }); %>
        </select>

        <h2>Berechtigungen:</h2>
        <% permissions.forEach(permission => { %>
            <input type="checkbox" name="permissionIds" value="<%= permission.id %>" 
                <% if (rolePermissions.includes(permission.id)) { %> checked <% } %>>
            <%= permission.name %><br>
        <% }); %>

        <input type="submit" value="Aktualisieren">
    </form>
</body>
</html>
